#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6rem;
  padding: 1.5rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 60s linear;
  }
}

.logo.motoko:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo-stack {
  display: inline-grid;
}

.logo-stack > * {
  grid-column: 1;
  grid-row: 1;
}

@keyframes logo-swim {
  from {
    transform: rotate(4deg) translateY(0);
  }
  50% {
    transform: rotate(-5deg) translateY(0);
  }
  to {
    transform: rotate(4deg) translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.motoko {
    animation: logo-swim 5s ease-in-out infinite;
  }
}

@keyframes logo-pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.ethereum {
    animation: logo-pulse 5s ease-in-out infinite;
  }
}

.card {
  padding: 2em;
  transition: opacity 0.2s ease-out;
}

.read-the-docs {
  color: #888;
}

/* https://css-loaders.com */
.loader {
  background: #888;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 40px;
  aspect-ratio: 1;
  animation: l1 1s infinite;
}
@keyframes l1 {
  0% {
    transform: perspective(150px) rotateX(0deg);
  }
  100% {
    transform: perspective(150px) rotateX(180deg);
  }
}
