name: Tests

on:
  # push:
  #   branches: [ "main" ]
  pull_request:

concurrency: 
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install dfx
      run: |
        echo y | bash -ci "$(curl -fsSL https://sdk.dfinity.org/install.sh)"
    - name: Start dfx
      run: |
        dfx cache install
        dfx start --background
    - run: npm run setup
    - run: npm test
